@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav img {
  width: 8.25rem;
  height: 3.3rem;
  margin: 12px 0px 10px 40px;
  padding-right: 0px;
}

.container-title {
  background-color: #d7934b;
}

i {
  color: white;
  padding: 10px;
}

.cards {
  background-color: #ffd579;
}

@media (max-width: 767px) {
  #lago {
    max-height: 270px;
  }
}

@media (min-width: 768px) {
  #lago {
    max-height: 180px;
  }
}

@media (min-width: 992px) {
  #lago {
    max-height: 110px;
  }
}

@media (min-width: 1200px) {
  #lago {
    max-height: 140px;
  }
}

@media (min-width: 1400px) {
  #lago {
    max-height: 170px;
  }
}

.typeform {
  width: 100%;
  height: 400px;
}
