@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav img {
    width: 8.25rem;
    height: 3.3rem;
    margin: 12px 0px 10px 40px;
    padding-right: 0px;
}

 .container-title {
 background-color: #D7934B;
}

i {
    color: white;
    padding: 10px;   
}

/* .carousel-slide .carousel-inner .item img {
    height: 100px;
}  */


/* .carousel-container .carousel-inner .item img {
    height: 100px;
} */

/* 
@media  (min-width: 902px) {
    .carousel-indicators{
        position: absolute;
        top: 113px;
    }
}

@media  (min-width: 992px) {
    .carousel-indicators{
        position: absolute;
        top: 160px;
    }
}

@media  (min-width: 1200px) {
    .carousel-indicators{
        position: absolute;
        top: 190px;
    }
}

@media  (min-width: 1400px) {
    .carousel-indicators{
        position: absolute;
        top: 220px;
    }
} */